.dark-primary-color {
  background: #303f9f;
}

.default-primary-color {
  background: #3f51b5;
}

.light-primary-color {
  background: #c5cae9;
}

.text-primary-color {
  color: #ffffff;
}

.accent-color {
  background: #ff4081;
}

.primary-background-color {
  background: #ffffff;
}

.primary-text-color {
  color: #212121;
}

.secondary-text-color {
  color: #727272;
}

.divider-color {
  border-color: #b6b6b6;
}
